@import "../../style/variables.scss";

.header {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  .header-title {
    display: inline;
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }

  .header-image {
    width: 5rem;
    display: inline;
  }
}
