@import "../../style/variables.scss";

.header {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  .header-banner,
  .header-banner-mobile {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    .header-banner {
      display: initial;
    }
  }

  @media only screen and (max-width: 767px) {
    .header-banner-mobile {
      display: initial;
    }
  }
}
