<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="The couple that games together, stays together. Married and gaming since 2016, now we blog about it.">
    <meta name="keywords" content="Games, Video Games, Video Game, Blog, Blogging, Wedding, Married, Gamers, Gaming"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.min.js"></script>
    <!-- Hey, you really shouldn't be looking at this. Go on, go enjoy the articles, get outta here! -->
  </head>
  <body>
    <div id="app"></div>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </body>
</html>