@import "../../style/variables.scss";

.menu {
  text-align: center;
  margin: 2rem 0;
  position: relative;

  .menu-link {
    margin: 0 2rem;
    color: $gray-200;
    font-family: 'Determination', sans-serif;

    &.selected {
      border: 2px solid;
      border-radius: 5px;
      padding: 6px 5px;
    }

    .title {
      padding: 0 1rem;
      font-size: 16px;
    }

    &:hover,
    &:focus,
    &.selected {
      text-decoration: none;
      // Showing the arrow instead of outline
      outline: none;

      .arrow-menu {
        border-color: transparent $pastelPink;
        border-style: solid;
        border-width: 8px 0 8px 8px;
        position: absolute;
        top: 5px;
        animation: arrow_anim_menu 0.4s steps(3) infinite;
      }
    }

    @media only screen and (max-width: 800px) {
      margin: 0;
    }
  }

  @keyframes arrow_anim_menu {
    from { margin-right: 0; }
    to { margin-left: 4px; }
  }
}
