@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$themePurple: #7289da;
$pastelPink: #e76c89;
$themeFontColor: $gray-200;
$themeBackground: $black;
