@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$themeBlue: #017ddf;
$themeYellow: #ffe100;
$themeRed: #f00;
$themeGreen: #0dff00;
$themeFontColor: #dcddde;
$themeBackground: $black;
