@import "../../style/variables.scss";

.article-preview {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0 4px $themeFontColor;
  word-spacing: 3px;
  font-size: 18px;
  width: 30rem;
  color: $themeFontColor;
  font-family: 'Determination', sans-serif;

  @media only screen and (max-width: 800px) {
    width: 15rem;
  }

  @keyframes arrow_anim {
    from { margin-top: 0; }
    to { margin-top: 3px; }
  }

  .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $themePurple;
    right: 1rem;
    position: absolute;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $themeFontColor;
    box-shadow: 0 0 0 4px $themePurple;
    // Showing the box shadow instead of outline
    outline: none;

    .arrow {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $themePurple;
      right: 1rem;
      position: absolute;
      animation: arrow_anim 0.4s steps(3) infinite;
    }
  }
}
