@import "../../style/variables.scss";

.article-preview {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0 4px $gray-100;
  word-spacing: 3px;
  width: 30rem;
  color: $gray-100;

  @media only screen and (max-width: 650px) {
    width: 15rem;
  }

  @keyframes arrow_anim {
    from { margin-top: 0px; }
    to { margin-top: 4px; }
  }

  .preview-title {
    // color: $themePurple;
  }

  .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $themePurple;
    right: 1rem;
    position: absolute;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: $gray-100;
    box-shadow: 0 0 0 4px $themePurple;
    // Showing the box shadow instead of outline
    outline: none;
    .arrow {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $themePurple;
      right: 1rem;
      position: absolute;
      animation: arrow_anim .4s steps(3) infinite;
    }
  }
}