@import "../../style/variables.scss";

.gaming-main {
  padding: 0 1rem;
  width: 80%;
  background: $black;

  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

@font-face {
  font-family: "Determination";
  src: url("/fonts/DeterminationMonoWeb.woff") format("woff");
}

body {
  font-family: 'Exo 2', sans-serif;
  background: $black;
  color: $white;

  a {
    color: $themePurple;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten($themePurple, 10%);
    }
  }

  code {
    color: $pastelPink;
  }

  h1,
  h2 {
    font-family: 'Determination', sans-serif;
  }

  #app {
    display: flex;
    justify-content: center;
    background-image: url("../../../images/oldschool.jpg");
    min-height: 100vh;
    background-attachment: fixed;

    @media only screen and (max-width: 800px) {
      background-image: none;
    }
  }
}
