@import "../../style/variables.scss";

.poke-main {
  padding: 0 1rem;
}

body {
  font-family: 'Merriweather', serif;
  background: 	$themeBlack;
  color: 	$white;

  a {
    color: $themePurple;
    text-decoration: none;

    &:hover, &:focus{
      text-decoration: none;
      color: lighten($themePurple, 10%);
    }
  }

  code {
    color: $pastelPink;
  }
}